@page "/forgot-password"
@inject IAuthService AuthService


<h5>Заборављена лозинка</h5>

<EditForm Model="user" OnValidSubmit="ForgoPassword">
	<DataAnnotationsValidator></DataAnnotationsValidator>
	<div class="mb-3">
		<label for="forgotpassword">Email адреса</label>
		<InputText id="forgotpassword" @bind-Value="user.Email" class="form-control" type="email" />
	</div>
	<button type="submit" class="btn btn-primary">Пошаљи</button>
</EditForm>
@message

@code {
	User user = new User();
	string message = string.Empty;

	private async Task ForgoPassword()
	{
		var result = await AuthService.ForgotPassword(user.Email);
		message = "Послат је токен за ресет.";
	}
}